---
title: Contact
layout: page
---

p 
	| For bug reports and general support, open an issue 
	a(href="https://github.com/DougBeney/jekyll-pug/issues") on Github

p
	| Email the developer at 
	a(href="mailto:contact@dougie.io") contact@dougie.io
