form.form-inline(action='https://DougBeney.us12.list-manage.com/subscribe/post?u=792eb576c08df172439ec58e3&id=28a1d42cd0', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
	.form-group
		label Want to keep up with other projects I create in the open-source world?
	.form-group.mx-sm-3
		input.form-control(type='email', value='', placeholder="Enter your email", name='EMAIL')
		input(type='hidden', value='1', name='group[10057][1]', id='mce-group[10057]-10057-0', checked='')
	#mce-responses.clear
		#mce-error-response.response(style='display:none')
		#mce-success-response.response(style='display:none')
	div(style='position: absolute; left: -5000px;', aria-hidden='true')
		input(type='text', name='b_792eb576c08df172439ec58e3_28a1d42cd0', tabindex='-1', value='')
	.clear
		button.btn.btn-success(type='submit', value='Subscribe', name='subscribe') Subscribe

br
hr