doctype
html(lang="en")
	head
		include widgets/google-analytics.html

		| {% if page.SEOTitle %}
		title {{page.SEOTitle}}
		| {% else %}
		title {{page.title}} - Jekyll-Pug
		| {% endif %}

		| {% if page.SEODescription %}
		meta(name="description", content="{{page.SEODescription}}")
		| {% else %}
		meta(name="description", content="{{page.description}}")
		| {% endif %}

		| {% include parts/social-cards %}

		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		
		link(rel="apple-touch-icon", href="/static/img/favicon.png")
		link(rel="icon", type="image/png", href="/static/img/favicon.png")


		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(href="https://fonts.googleapis.com/css?family=Arvo", rel="stylesheet")
			
		link(rel="stylesheet", href="/static/css/main.css")
	body
		.
			<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
			<![endif]-->
		
		.
			{% include parts/nav %}
			{{content}}
			{% include parts/footer %}

		//- Looking for jQuery? jQuery is included in the main.js file
		script(src="/static/js/main.js")
