form.form-inline(action='https://DougBeney.us12.list-manage.com/subscribe/post?u=792eb576c08df172439ec58e3&id=28a1d42cd0', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
	#mc_embed_signup_scroll
		.mc-field-group.form-group
			input.form-control-plaintext(type='email', value='', name='EMAIL')
			ul
				li
					input(type='hidden', value='1', name='group[10057][1]', id='mce-group[10057]-10057-0', checked='')
		#mce-responses.clear
			#mce-error-response.response(style='display:none')
			#mce-success-response.response(style='display:none')
		div(style='position: absolute; left: -5000px;', aria-hidden='true')
			input(type='text', name='b_792eb576c08df172439ec58e3_28a1d42cd0', tabindex='-1', value='')
		.clear
			input.btn.btn-primary(type='submit', value='Subscribe', name='subscribe')