nav.navbar.navbar-expand-lg.bg-lightnavbar.navbar-dark
	a.navbar-brand(href='/') {{site.title}}
	span.navbar-text {{site.description}}
	button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-label='Toggle navigation')
		span.navbar-toggler-icon
	
	#navbarSupportedContent.collapse.navbar-collapse
		
		ul.navbar-nav.ml-auto
			| {% for nav in site.data.nav %}
			li.nav-item(class="{% if nav.name == page.title %}active{% endif %}")
				a.nav-link(target="{% if nav.new_tab%}_blank{% endif %}", href='{{nav.url}}')
					| {{nav.name}}
					span.sr-only (current)
			| {% endfor %}
		
