---
title: Contact
layout: page
SEOTitle: Contact the developer of Jekyll-Bliss
SEODescription: Jekyll-Pug is a project maintained by Doug Beney.
---

p
	| For bug reports and general support, open an issue
	a(href="https://gitlab.com/DougBeney/Jekyll-Bliss/issues") on Github

p
	a(href="https://github.com/DougBeney/") More options to contact the developer here
